<div id = "grid-container">
  <table id="grid-basic" name="myTable" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th data-column-id="latitude">Latitude</th>
        <th data-column-id="longitude">Longitude</th>
      </tr>
    </thead>
    <tbody id ="locationRow">
      {{#each results}}
      <tr>
        <td>{{this.latitude}}</td>
        <td>{{this.longitude}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div data-role="main" class="ui-content">
    <a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all">Edit</a>

    <div data-role="popup" id="myPopup" class="ui-content">
      <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
      <p>BLAH</p>
    </div>
  </div>
</div>
