<table id="grid-basic" name="myTable" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th data-column-id="tag">Latitude</th>
      <th data-column-id="tag-timestamp">Longitude</th>
    </tr>
  </thead>
  <tbody id ="tagRow">
    {{#each results}}
    <tr>
      <td>{{this.latitude}}</td>
      <td>{{this.longitude}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
